Repository Shardj/zf1-future, pull requests merged in 2023-08, with the labels that each got.

#344 Fixed "emails are displayed incorrectly" with PHP 8.1+
  library/Zend/Mail/Transport/Sendmail.php
Labels: enhancement

#357 Extend native SessionHandlerInterface
  library/Zend/Session/SaveHandler/Interface.php
Labels: enhancement, question

#325 Added typecast to stop depreciation messages
  library/Zend/Controller/Router/Route/Module.php
Labels: invalid

#368 Finnish date translations
  library/Zend/Locale/Data/fi.xml
Labels: bug
